body {
	margin: 0;
	background-color: slategrey;
}
.container {

}
.ninjalogo img {
	display: block;
	margin: auto;
	width: 100%;
}
nav {
	text-align: center;
}
button {
	padding: 5px;
	font-family: 'Permanent Marker', cursive;
	font-size: 20px;
}
button:hover {
	background-color: red;
	cursor: pointer;
}
.news div {
	width: 350px;
	padding: 10px;
	height: max-content;
	border: 1px solid black;
	margin: 5px;
	float: left;
	background-color: lightgrey;
	display: inline-block;
	
}
.news img {
	width: 350px;
	height: auto;
}
h2 {
	text-align: center;
	font-family: 'Permanent Marker', cursive;
}
p {
	font-family: 'Permanent Marker', cursive;
}